.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Acme", sans-serif;

  background: #161415
    url(https://images.unsplash.com/photo-1509664158680-07c5032b51e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80)
    top center repeat;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  display: none;
}

.app {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
